:root {
  --color-1: #212121;
  --color-2: #ffffff;
  --color-3: #757575;
  --color-4: #2196f3;
  --color-5: #afb1b8;
  --animation-duration: 250ms;
  --animation-type: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--color-1);
}

main > section {
  padding-bottom: 94px;
}

main > .instrument,
.our-team {
  padding-top: 94px;
}

header {
  display: flex;
  height: 80px;
  font-size: 14px;
  letter-spacing: 0.02em;
  background: var(--color-2);
  border-bottom: 1px solid #ececec;
}

header > .container {
  display: flex;
  align-items: center;
}

.logo-header {
  display: flex;
  margin-right: 93px;

  width: 145px;
  height: 31px;
  color: var(--color-1);
  font-family: Raleway;
  font-weight: bold;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header-web {
  color: var(--color-4);
}

.nav-links {
  display: flex;
}

.nav-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-li {
  position: relative;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-item {
  transition: color var(--animation-duration) var(--animation-type);
}

.nav-item::after {
  content: "";

  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-4);
  opacity: 0;

  transition: opacity var(--animation-duration) var(--animation-type);
}

.active.nav-item::after,
.nav-item:hover::after,
.nav-item:focus::after {
  opacity: 1;
}

.active.link,
.link:hover,
.link:focus {
  color: var(--color-4);
}

.link {
  color: var(--color-1);
  text-decoration: none;
  transition: color var(--animation-duration) var(--animation-type);
}

.nav-li:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item {
  align-items: center;
  fill: currentColor;
}

.contacts-item svg {
  margin-right: 10px;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: var(--color-3);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-2);
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/reduced/img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-h1 {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero div > h1 {
  display: block;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 696px;
  height: 120px;
}

.hero-button {
  display: flex;
  border: none;
  padding: 10px 32px;

  background: var(--color-4);

  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.hero-button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-2);
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.instruments-none {
  visibility: hidden;
}

.instruments {
  display: flex;
}

.instruments > .instruments-list:not(:last-child) {
  margin-right: 30px;
}

.instruments-list > svg {
  display: block;
  width: 100%;
  height: 120px;
  padding: 25px 0;

  background: #f5f4fa;
  border-radius: 4px;
}

.instruments-h3 {
  font-family: Roboto;
  width: 270px;
  font-weight: bold;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.instruments-text {
  width: 270px;
  line-height: 1.71;
  color: var(--color-3);
}

/* Чем занимаемся */
.our-work-list {
  display: flex;
}

.our-work-h2 {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.our-work-list > li:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.our-team {
  font-size: 16px;
  line-height: 1.19;
  background: #f5f4fa;
  padding-top: 94px;
}

.our-team-h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.professional {
  display: flex;
}

.professional > li {
  width: 270px;
  background: var(--color-2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.professional > li:not(:last-child) {
  margin-right: 30px;
}

.professional > li > img {
  margin-bottom: 30px;
}

.our-team-h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.our-team-p {
  text-align: center;
  color: var(--color-3);
}

.social-network {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-network > li:not(:last-child) {
  margin-right: 10px;
}

.social-network-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-5);
  background-color: var(--color-2);
  transition: background-color var(--animation-duration) var(--animation-type),
    color var(--animation-duration) var(--animation-type);
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: var(--color-4);
  color: var(--color-2);
}

.social-network-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Постоянные клиенты */
.client {
  padding-top: 94px;
}

.clients {
  display: flex;
}

.clients-h2 {
  font-style: normal;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;

  color: var(--color-5);
  border: 1px solid var(--color-5);
  border-radius: 4px;

  fill: currentColor;
  border-color: currentColor;

  transition: color var(--animation-duration) var(--animation-type);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--color-4);
}

.clients > li:not(:last-child) {
  margin-right: 30px;
}

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer > .container {
  display: flex;
  align-items: baseline;
}

address {
  display: block;
  min-width: 231px;
}

.address__list {
  margin-top: 20px;
}

.address__list > li:not(:last-child) {
  margin-bottom: 8px;
}

.logo-footer {
  color: var(--color-4);
  font-family: Raleway;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer-studio {
  color: var(--color-2);
}

.footer__addres {
  font-style: normal;
  line-height: 1.71;
  color: var(--color-2);
}

.footer-contacts {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__sn {
  display: block;
  margin-left: 70px;
}

.footer__h3 {
  margin-bottom: 20px;
  color: var(--color-2);
  text-transform: uppercase;
}

.footer__sn a {
  color: var(--color-2);
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe {
  display: block;
  margin-left: 93px;
  margin-bottom: 20px;
}

.subscribe button {
  display: flex;
  width: 200px;
  height: 50px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: var(--color-4);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.subscribe span {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-2);
}

.subscribe label {
  display: flex;
  width: 358px;
  height: 50px;
}

.subscribe__input {
  width: 100%;
  height: 100%;
}

.subscribe__form {
  display: flex;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--color-2);
}

button {
  font-family: inherit;
}

/* portfolio start */

.section {
  padding-top: 114px;
  padding-bottom: 74px;
}

.h1-none {
  display: none;
}

.buttons > li:not(:last-child) {
  margin-right: 8px;
}

.buttons {
  display: flex;
  outline: transparent;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 56px;
  color: var(--color-1);
  line-height: 1.62;
}

.buttons-touch {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--color-1);
  background: #f5f4fa;
  fill: currentColor;
  transition: color var(--animation-duration) var(--animation-type),
    background var(--animation-duration) var(--animation-type);
}

.buttons-touch:hover,
.buttons-touch:focus {
  background: var(--color-4);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  color: var(--color-2);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-h2-p {
  width: 370px;
  background: var(--color-2);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  margin: 0 30px 30px 0;
}

.list-a {
  display: block;
}

.list-a:hover,
.list-a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list img {
  margin: 0;
}

.list-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translatey(100%);
  transition: transform var(--animation-duration) var(--animation-type);
}

.overlay-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-2);
}

.list-a:hover .overlay,
.list-a:focus .overlay {
  transform: translatey(0%);
}

.list .list-h2-p {
  margin: 0;
  padding: 20px 24px;
}

.list h2 {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-1);
}

.list p {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-3);
}

.list > li {
  margin: 0 30px 30px 0;
}

.list > li:nth-child(3n) {
  margin-right: 0;
}
.list > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* portfolio end */

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  background: var(--color-2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: var(--color-2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--color-1);
  transition: color var(--animation-duration) var(--animation-type);
}

.modal__close > svg {
  fill: currentColor;
}

.modal__close:hover {
  color: var(--color-4);
}

.modal p {
  font-style: normal;
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-1);
}

.name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-3);
}

.form-container {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.form-input:focus,
.form-input:hover {
  border-color: var(--color-4);
  outline: none;
}

.form-input:focus ~ .form-icon,
.form-input:hover ~ .form-icon {
  color: var(--color-4);
}

.modal-button {
  display: flex;
  width: 200px;
  height: 50px;
  margin: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;

  color: var(--color-2);
  background: var(--color-4);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: box-shadow var(--animation-duration) var(--animation-type),
    background var(--animation-duration) var(--animation-type);
}

.modal-button > span {
  display: flex;
  margin: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.modal-button:focus,
.modal-button:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-input {
  height: 100%;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation-duration) var(--animation-type);
}

.form-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  background: var(--color-2);
  fill: currentColor;
  transition: color var(--animation-duration) var(--animation-type);
}

.feedback {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--animation-duration) var(--animation-type);
}

.feedback:focus,
.feedback:hover {
  border-color: var(--color-4);
  outline: none;
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
  padding-left: 36px;
}

.checkbox__icon {
  position: absolute;
  top: 0;
  left: 13px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-1);
  border-radius: 2px;
  cursor: pointer;
}

.checkbox__agree:checked ~ .checkbox__icon {
  background-color: var(--color-4);
  border-color: transparent;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
}

.checkbox a {
  color: var(--color-4);
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
