.list {
  display: flex;
  flex-wrap: wrap;

  & .h2-p {
    width: 370px;
    margin: 0;
    padding: 20px 24px;
    background: $color-2;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }

  & h2 {
    margin: 0;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $color-1;
  }

  & p {
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    color: $color-3;
  }

  & > li {
    margin: 0 30px 30px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.list-a {
  display: block;
  transition: box-shadow $animation-duration $animation-type;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay,
  &:focus .overlay {
    transform: translatey(0%);
  }
}

.list img {
  margin: 0;
}

.list-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translatey(100%);
  transition: transform $animation-duration $animation-type;
}

.overlay-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: $color-2;
}
