.buttons {
  display: flex;
  outline: transparent;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 56px;
  color: $color-1;
  line-height: 1.62;

  & > li:not(:last-child) {
    margin-right: 8px;
  }
}

.buttons-touch {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: $color-1;
  background: #f5f4fa;
  fill: currentColor;
  transition: color $animation-duration $animation-type,
    background $animation-duration $animation-type;

  &:hover,
  &:focus {
    background: $color-4;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    color: $color-2;
  }
}
